<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
      nulla hic sint assumenda aliquid. Praesentium aut fugit delectus placeat?
      Maxime.
    </p>
  </header>
</section>
<section class="block block--dark block--skewed-right">
  <header class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
      nulla hic sint assumenda aliquid. Praesentium aut fugit delectus placeat?
      Maxime.
    </p>
  </header>
</section>
